/* semantic color variables for this project */
:root {
  --color-bg-header: #fff;
  --color-bg-main: #ededed;
  --color-theme-primary: #4978f0;
  --color-theme-secondary: #656565;
}

/** RESET **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* 
html {

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px; 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px; 8px/16px = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px; 12px/16px = 75%
  }
} */
