@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --color-bg-header: #fff;
  --color-bg-main: #ededed;
  --color-theme-primary: #4978f0;
  --color-theme-secondary: #656565;
}

/** RESET **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

html {
  font-family: "Roboto";
}

button {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

main {
  min-height: 100vh;
  background-color: var(--color-bg-main);
  padding: 100px 30px;
  width: 100%;
  margin: auto;
  align-items: center;
}

@media (min-width: 768px) {
  main {
    padding: 100px 50px;
  }
}

.tag-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.tag {
  font-weight: 700;
  background-color: var(--color-theme-primary);
  padding: 2px 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.page-container {
  width: 100%;
  max-width: 750px;
  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-theme-secondary);
}

@media (min-width: 1024px) {
  .page-container {
    padding: 50px 0;
  }
}

.header {
  color: var(--color-theme-primary);
  padding: 10px 0;
}

.form {
  font-weight: 700;
  margin-bottom: 20px;
}
